.App {
  text-align: center;
  background-color: #353839;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 0.8s infinite;
}

.search-input {
  border: none;
  border-radius: 0.5vh;
  padding: 2vh 2vh;
}

@media screen and (max-width: 600em) {
  .search-input {
    width: auto;
    margin: 1vh;
  }
}